<% layout('layout') -%>

<div class="container">
  <h1 class="text-center">Results: </h1>
  <!-- FIRST ROW -->
  <div class="row">
    <% for (var i = 0; i < data.length; i++) { %>
      <div class="col-lg-6">
        <h3 class="text-center"><a href='/donation/<%= q %>'><%= data[i].name%></a></h3>
        <img src="<%= data[i].image%>">
        <p class="text-center"><%= data[i].address.street%> <%= data[i].address.city%>, <%= data[i].address.state%> <%= data[i].address.zip%></p>
        <p class="text-center"><%= data[i].contactUs%></p>
        <p class="text-center"><%= data[i].hours%></p>
        <a href="<%= data[i].website_url%>" class="btn btn-info">Visit Site</a>
      </div>
    <% } %>
  </div>
</div>
