<% layout('../layout') -%>


<br>
<br>
<p class="text-center index-display"><a href= <%= volunteer.website_url%> ><img src="<%=volunteer.image%>"/></p></a>
<p class="text-center fonttitle"><a href= <%= volunteer.website_url%> ><%= volunteer.name%></a></p>
<p class="text-center"><%= volunteer.description%></p>
<p class="text-center">
  <b>Address: </b><%=volunteer.address.street%>
                  <%=volunteer.address.city%>
                  <%=volunteer.address.state%>
                  <%=volunteer.address.zip%>
</p>
<p class="text-center">
  <b>Phone: </b><%=volunteer.contactUs%>
</p>
<p class="text-center">
  <b>Hours: </b><%=volunteer.hours%>
</p>

<div id="floating-panel">
  <b>Start: </b>
  <button type="button" id="start">button</button>
</div>

<div id="map">

  <script>
    function initMap() {
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 11,
        center: {lat: 26.268383, lng: -98.219369}
      });

      directionsDisplay.setMap(map);

      var trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);


      var infoWindow = new google.maps.InfoWindow({map: map});

      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          var lat = String(pos.lat)+' ';
          var lng = String(pos.lng);

          //anything that requires longitude and latitude must make changes here


          //============================================================
          function calculateAndDisplayRoute(directionsService, directionsDisplay) {
            directionsService.route({
              origin: lat+lng,
              destination: '26.268383 -98.219369',
              travelMode: 'DRIVING'
            }, function(response, status) {
              if (status === 'OK') {
                directionsDisplay.setDirections(response);
              } else {
                window.alert('Directions request failed due to ' + status);
              }
            });
          }

          var onChangeHandler = function() {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
          };
          document.getElementById('start').addEventListener('click', onChangeHandler);/*{lat: 41.065669, lng: -89.587285}*/

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      }

      else {
        handleLocationError(false, infoWindow, map.getCenter());
      }

      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

      var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i % labels.length]
        });
      });

      var markerCluster = new MarkerClusterer(map, markers,{
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
      });

      // var onChangeHandler = function() {
      //   calculateAndDisplayRoute(directionsService, directionsDisplay);
      // };
      // document.getElementById('start').addEventListener('click', onChangeHandler);/*{lat: 41.065669, lng: -89.587285}*/
      // console.log(document.getElementById('start').value);

      // document.getElementById('end').addEventListener('change', onChangeHandler);/*{lat: 41.065669, lng: -85.225024}*/
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
    }

    var locations = [<%=volunteer.location%>,{lat: 26.268383, lng: -98.219369}];

    // function calculateAndDisplayRoute(directionsService, directionsDisplay) {
    //   directionsService.route({
    //     origin: lat+lng,
    //     destination: '26.268383 -98.219369',
    //     travelMode: 'DRIVING'
    //   }, function(response, status) {
    //     if (status === 'OK') {
    //       directionsDisplay.setDirections(response);
    //     } else {
    //       window.alert('Directions request failed due to ' + status);
    //     }
    //   });
    // }

  </script>


  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= key%>&callback=initMap"></script>

</div>
